body{
    font-family: 'Splash', cursive;
    background-color:rgb(255, 253, 253);
    margin:0;
}
h1{
    font-size: 50px;

}
span{
    color: orangered;
}
P{
    color: rgb(0, 0, 0);
}

.flexible-container{    display: flex;
    margin-bottom:100px;
    
}
.half-width{
    width:80%;
    padding-left:5%;

}
.half-width img{
    width:80%;
    
}
button{
    background-color: darkorange;
    font-display:solid ;
    font-style: italic;
    padding: 10px 40px;
    background-image: linear-gradient(pink,tomato);
    border-radius: 5px;
    color:rgb(0, 0, 0);
    font-weight: 500;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position:right;
}
.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.experience-item{
    width:40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 40px grey;
    border-left: 7px solid blue;
}
#full{
    border-left: 7px solid tomato;
}
#footer{
    text-align: center;
}